<div class="dungeon" [style.backgroundImage]="'url(' + dungeon?.background_url +')'" [style.backgroundPosition]="'50% 50%'" [style.backgroundSize]="'cover'">
  <div class="nes-container is-rounded">
    <p class="nes-text is-primary centered">{{dungeon?.name}}</p>
  </div>

  <!-- MONSTER -->
  <div class="monster_container">
    <div class="inner">
      <div class="left">
        <img [src]="monster?.image_url" alt="">
      </div>
      <div class="right">
        <div class="nes-container is-rounded title_container">
          <h1 class="nes-text is-error">Oh No!</h1>
          <h3>A monster appeared!</h3>
        </div>
        <div class="nes-container is-rounded title_container">
          <p class="nes-text centered">{{monster?.name}}</p>
        </div>
        <div class="nes-container is-rounded with-title stats_container">
          <p class="title">Stats</p>
          <ul>
            <li><span class="nes-text is-primary">Health</span>: {{monster?.health}}</li>
            <li><span class="nes-text is-primary">Attack</span>: {{monster?.attack}}</li>
            <li><span class="nes-text is-primary">Defense</span>: {{monster?.defense}}</li>
          </ul>
        </div>
        <button type="button" class="nes-btn is-warning">Fight!? Are you insane? Is a f*cking monster. Run man! Run fast as you can!</button>
      </div>
    </div>
  </div>
</div>
